{% extends "base.html" %}
{% load static %}
{% block title %}
  Об авторе проекта
{% endblock title %}
{% block content %}
  <h1>Привет, я автор</h1>
  <p>
    Меня зовут Максим Ермошин. Мне 22 года. Родился в Перми, но перебрался учиться в Москву.
    В школе занимался робототехникой, что и повлияло на выбор специальности. Сейчас по
    приближении диплома решил получить вторую специальность, пока была поддержка государства
  </p>
  <img src="{% static 'img/author.png' %}" width="300" height="300">
{% endblock %}
